<div class="col-lg-3 order-lg-first col-md-12 order-md-last">
    <div class="shop-sidebar-wrap">
        <!-- Sidebar single item -->
        <div class="sidebar-widget">
            <h4 class="sidebar-title">Categories</h4>
            <vc:categories></vc:categories>
        </div>
        <!-- Sidebar single item -->
        <!-- Sidebar single item -->
        <div class="sidebar-widget">
            <h4 class="sidebar-title">Brands</h4>
            <vc:brands></vc:brands>
        </div>
        <!-- Sidebar single item -->
    </div>
</div>
