@model BrandModel
@{
    ViewData["title"] = "Edit Brand";
}
<h4 style="margin:15px">Edit Brand</h4>
<div class="col-md-9" style="margin:15px">
    <form asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Status</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger" />
        </div>


        <div class="form-group">
            <button class="create-btn">Update</button>
        </div>
    </form>
    <a asp-action="Index">Back to list brand</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

<style>
    .create-btn {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: bold;
        color: white; /* Chữ màu trắng */
        background-color: #007bff; /* Nền xanh dương */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.2s;
        margin-top: 20px;
    }

        .create-btn:hover {
            background-color: #0056b3; /* Màu xanh đậm hơn khi hover */
        }

</style>


